attrs==23.1.0
autopep8==2.0.2
beautifulsoup4==4.12.2
blinker==1.6.3
certifi==2023.7.22
cffi==1.15.1
cfgv==3.4.0
charset-normalizer==3.3.0
click==8.1.7
distlib==0.3.7
docutils==0.20.1
filelock==3.13.1
flake8==6.1.0
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
future==0.18.3
gunicorn==21.2.0
h11==0.14.0
httpwatcher==0.5.2
identify==2.5.32
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mccabe==0.7.0
nodeenv==1.8.0
numpy==1.25.0
outcome==1.3.0
packaging==23.1
platformdirs==4.0.0
pre-commit==3.5.0
protobuf==4.23.3
psycopg==3.1.12
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.1.0
PySocks==1.7.1
python-dotenv==1.0.0
pywatchman==1.4.1
PyYAML==6.0.1
requests==2.31.0
selenium==4.14.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.22
SQLAlchemy-Utils==0.41.1
tornado==4.5.3
trio==0.22.2
trio-websocket==0.11.1
typing_extensions==4.8.0
urllib3==2.0.7
virtualenv==20.24.7
watchdog==3.0.0
Werkzeug==3.0.0
wsproto==1.2.0
